/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar {
    height: 256px;
    width: 256px;
    border-radius: 50%;
    box-shadow: 0 0 10px 1px rgba(51, 49, 49, 0.9);
    overflow: hidden;
}
